<div class="container">
    <h1>Oooops!</h1>
</div>
<div class="container">
    <h3>You tried to send a message that contained something inappropriate.</h3>
    <h4>Please fuck off with that.</h4>
    <p style="font-size:xx-small">Thank you.</p>
</div>