<div class="container">
    <h1>Oooops!</h1>
    <h3>We detected your message as spam.</h3>
    <h4>If you are not a robot, please try to re-phrase your message and try again.</h4>
    <h5>We apologize for any inconvenience.</h5>
    <input class="btn btn-primary" id="reloadContact" value="Reload" />
</div>