
@{
    ViewData["Title"] = "Contact";
}
<div class="container">
    <h1>Contact</h1>
    <div class="container text-center">
        <p>This is where i will describe myself and blablablabla</p>
        <form asp-controller="Mail" asp-action="Send" method="post">
            <textarea class="form-control" cols="25" rows="15" name="body"></textarea>
            <input type="submit" value="Send!" />
        </form>
    </div>
</div>

