@model Site.Models.Images

@{
    ViewData["Title"] = "Image";
}

<h1>Image</h1>

<h4>Images</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Image">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ImageId" />
            <div class="form-group">
                <label asp-for="ImgFileName" class="control-label"></label>
                <input asp-for="ImgFileName" class="form-control" />
                <span asp-validation-for="ImgFileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsPublished" class="control-label"></label>
                <input asp-for="IsPublished" class="form-control" />
                <span asp-validation-for="IsPublished" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="LoadAllFiles" asp-controller="Image">Back to List</a>
</div>

