@{
    ViewData["Title"] = "Unauthorized - ";
}
<div class="container">

    <h1>Unauthorized</h1>
    <h3>You have to login to access this page!</h3>
    <p>Please use <a href="/Home/Login">this page</a> to login</p>

</div>